body {
    margin:0;
}

header {
    
    border-color: yellow;
    height:700px;
    width:1520px;
    background-image : url(images/BackgroundImage.png);
    background-size: cover;
    

    
}

nav {
    
    border-color: yellow;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    color:#ffffff;
    padding: 5px;
    margin: 0 auto;
    margin-left: -300px;
    width: 50%;


}

.welcome {
    text-align: center;
    font-style: italic;
    color:#fff;
    vertical-align: bottom;
}

.nice {
    text-align: center; 
    font-size: 60px;
    text-transform: uppercase;
    color:#fff;
   
}

.more-info {
    border: 1px solid;
    border-color: yellow;
    background-color:#fed136;
    font-size: 15px;
    text-align: center;
    padding: 10px  120px;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    margin: 0px 650px;
    position: absolute;
}

.logo{
    font-size: 15px;
    color: #fed136;
    font-style: italic;
}

.head {
    margin-top: 20%;
}

.services {
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 100px;
}

.services-specs{
    background-color: #ffffff;
    width: 1520px;
    height: 500px;
}

ul {
    margin-left: 700px;
    
    padding: 0px;
}

li {
    display: inline;
    margin-right: 150px;
    padding: 0px;
    font-weight: bold;
    font-size: 20px;
}

.icon-basket {
    background: url(images/IconBasket.png);
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon-laptop {
    background: url(images/IconLaptop.png);
    background-size: cover;
    height: 100px;
    width: 100px;
}

.icon-locked {
    background: url(images/IconLocked.png);
    background-size: cover;
    height: 100px;
    width: 100px;
}

.ourPortfolio {
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
}

.portfolio{
    background-color: #f7f7f7;
    font-weight: bold;
}
div p {
    font-weight: 100;
    font-style: italic;
}